{% extends 'layout.html' %}

{% block pageTitle %}
  You aren't eligible for an EHIC
{% endblock %}

{% block beforeContent %}


  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Based on the information you have given us, we cannot confirm your eligibility
      </h1>

      <p>You may be eligible for a UK GHIC if you meet one of the following criteria:</p>
      <ul>
          <li>You are legally living in the UK and you don't have healthcare cover provided by an EU country, Switzerland, Norway, Iceland, or Liechtenstein</li>
          <li>You are living in the EU with a registered S1, E121, E106 or E109 form issued by the UK</li>
          <li>You are living in the EU with an A1 document which is issued by the UK</li>
          <li>You are a family member or dependant of an entitled individual already listed.</li>
      </ul>

      <p>You may be eligible for a new UK EHIC if you meet one of the following criteria:</p>
      <ul>
          <li>You are living in the EU, Switzerland, Norway, Iceland, or Liechtenstein, since before 1 January 2021 with a registered S1, E121, E106 or E109 form issued by the UK</li>
          <li>You are living in the EU, Switzerland, Norway, Iceland, or Liechtenstein, since before 1 January 2021 with an A1 issued by the UK</li>
          <li>You are a UK resident who is studying in the EU, Switzerland, Norway, Iceland, or Liechtenstein, and have been studying there since before 1 January 2021</li>
          <li>You are a national of the EU, Switzerland, Norway, Iceland, or Liechtenstein who has legally resided in the UK since before 1 January 2021 and are covered under the Withdrawal Agreement. You may not be covered if you're also a UK national or if you were born in the UK.</li>
          <li>You are a family member or dependant of an entitled individual already listed.</li>
          <li>You are a Chen or Ibrahim/Teixeira carer</li>
      </ul>

      <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
              Information about Chen or Ibrahim/Teixeira carers
          </summary>
          <div class="nhsuk-details__text">
              <p>If you are an adult carer of a child who is from the EU, Switzerland, Norway, Iceland, or Liechtenstein, but you are not from any of these countries or from the UK or Ireland, you may be eligible to apply for a new UK EHIC for yourself and for any other children you have who are not nationals of these countries.</p>
              <p>You should send an email requesting a new UK EHIC to <a href="mailto:nhsbsa.ehicapplicationsohs@nhs.net" class="nhsuk-link" id="mail-link-1">nhsbsa.ehicapplicationsohs@nhs.net</a> with a copy of your leave to remain document and a copy of the child's passport or ID card from the EU, Switzerland, Norway, Iceland, or Liechtenstein. If you have other children who are not UK or Irish nationals, you should send their leave to remain documents as well.</p>
              <p>You cannot apply if your right to reside in the UK is derived from your caring for a British citizen (Zambrano carer).</p>
          </div>
      </details>

      <p>Find out more about your healthcare entitlements on the NHS <a target="_blank" href="https://www.nhs.uk/using-the-nhs/healthcare-abroad/">healthcare abroad<span class="nhsuk-u-visually-hidden">(Opens in a new tab)</span></a> and <a target="_blank" href="https://www.nhs.uk/nhs-services/visiting-or-moving-to-england/">visiting or moving to England<span class="nhsuk-u-visually-hidden">(Opens in a new tab)</span></a> pages. </p>
      <p>For general enquiries, you can use the <a target="_blank" href="https://nhsbsa-live.powerappsportals.com/knowledgebase/category/?id=CAT-01007">Ask Us <span class="nhsuk-u-visually-hidden">(Opens in a new tab)</span></a> section of our website, visit our <a target="_blank" href="https://www.facebook.com/NHSOverseasHealthcareServices">Facebook<span class="nhsuk-u-visually-hidden">(Opens in a new tab)</span></a> page or follow us on <a target="_blank" href="https://twitter.com/NHSBSA_OHS">Twitter<span class="nhsuk-u-visually-hidden">(Opens in a new tab)</span></a>.</p>
      <p>If you believe that you are entitled to a UK GHIC or new UK EHIC, you can contact the NHSBSA Overseas Healthcare Services team on <a href="mailto:nhsbsa.ohsenquiries@nhsbsa.nhs.uk" class="nhsuk-link" id="mail-link-2">nhsbsa.ohsenquiries@nhsbsa.nhs.uk</a> </p>

      <a href="../start" class="nhsuk-button nhsuk-u-margin-bottom-8" id="finishButton">
          Finish <span class="nhsuk-u-visually-hidden">your application</span>
      </a>

      {{ backLink({
        "href": "where-do-you-live",
        "text": "Change my previous answer"
      }) }}

    </div>  

  </div>
{% endblock %}
