{% extends "layout.html" %}

{% block pageTitle %}
What is your NHS number? - Get healthcare cover for travelling abroad - NHSBSA 
{% endblock %}

{% block beforeContent %}


  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <form action="gender" method="post">

        <div class="nhsuk-form-group">

          <h1 class="nhsuk-label-wrapper">
              <label class="nhsuk-label nhsuk-label--l" for="nhsNumber">What is your NHS number?</label>
          </h1>

          <p>Your NHS number is a 10 digit number that is unique to you and will help us match your details to your health records without us having to ask for further information.</p>
          <p>Your NHS number can also be referred to as your Community Health Index (CHI) number or Health and Care number.</p>

          <span class="nhsuk-hint" id="nhs-number-hint">For example <span class="nhsuk-u-nowrap">485 777 3456</span>. (optional)</span>

          <span class="nhsuk-error-message" id="nhs-number-error">
              
              
          </span>

          <input class="nhsuk-input nhsuk-input--width-10" id="nhsNumber" name="mainApplicant.nhsNumber" type="text" aria-describedby="nhs-number-hint" value="">

      </div>

      <button class="nhsuk-button" type="submit" id="continueButton">Continue</button>

      <div class="nhsuk-inset-text">
        <h2 class="nhsuk-heading-s">If you don't know your NHS number or if your number is a combination of letters and numbers</h2>
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>If you don't know your NHS number, use the Find your NHS number service below or contact your GP to find out what your NHS number is.</p>
        <p>If your number is a combination of letters and numbers, it may be that you have an old style number that is no longer used. Use the Find your NHS number service below or contact your GP to find out what your new NHS number is. Not having a new NHS Number will not affect your care.</p>
        <p><a target="_blank" href="https://www.nhs.uk/nhs-services/online-services/find-nhs-number/" id="find-nhs-number">Find your NHS number<span class="nhsuk-u-visually-hidden">(Opens in a new tab)</span></a></p>
    </div>

      </form>



      {{ backLink({
        "href": "",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>



{% endblock %}
