{% extends 'layout.html' %}

{% block pageTitle %}
You may be entitled to a student UK Global Health Insurance Card (GHIC) 
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        You may be entitled to a student UK Global Health Insurance Card (GHIC)
      </h1>

      <p class="nhsuk-lede-text">
        Based on the information you have given us, you may be entitled to a student UK GHIC while you study. 
      </p>
      <p>You should make sure a UK GHIC covers the country you're studying in. Check our website to see <a href="/nhs-bsa/countries">where you can use your card (opens in a new tab)</a>, then return here to complete your application. </p>
      <p>As part of your application, you'll need to provide evidence of where you're studying.</p>
      <p>If your application is successful, your student UK GHIC will only be valid for the duration of your period of study.  </p>

      <a href="course-country" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Continue
      </a>

    </div>  

  </div>
{% endblock %}
