{% extends "layout.html" %}

{% block pageTitle %}
What type of cover would you like?
{% endblock %}

{% block beforeContent %}

<!-- Phase banner -->
<div class="app-phase-banner">
  <div class="nhsuk-width-container app-phase-banner__container">
    <p class="app-phase-banner__content">
      <strong class="nhsuk-tag app-phase-banner__tag">
        Prototype
      </strong>
      <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
      </span>
    </p>
  </div>
</div>

{% endblock %}

{% block content %}

<style>
  td.nhsuk-table__cell:nth-child(1) {
    /*background-color: red;*/
    width: 75%;
  }

  td.nhsuk-table__cell:nth-child(2),
  td.nhsuk-table__cell:nth-child(3) {
    text-align: center;
    /* width: 15%;*/
  }

  th.table-heading:nth-child(2),
  th.table-heading:nth-child(3) {
    text-align: center;
  }
</style>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <!-- <span class="nhsuk-caption-l nhsuk-caption--bottom">Check your eligibility</span> -->
    <!-- <form action="add-someone" method="post"> -->
    <!-- <form action="full-name" method="post"> -->
    <form action="chooseCover" method="post">


      {% call fieldset({
      legend: {
      text: "Which type of cover would you like to apply for?",
      classes: "nhsuk-fieldset__legend--l",
      isPageHeading: true
      }
      }) %}


      <p>Based on the information you have provided you may be entitled to a UK Global Health Insurance Card (GHIC) or a
        new UK European Health Insurance Card (EHIC).</p>
      <p>Both cards provide the same cover but the countries they are valid in can change. Check our website to see <a
          href="https://ehic-prototype.herokuapp.com/nhs-bsa/countries" target="_blank">where you can use each card
          (opens in a new tab)</a>, then return here to complete your application.</p>


      {{ radios({
      "idPrefix": "choose-cover",
      "name": "choose-cover",
      "items": [
      {
      "value": "GHIC",
      "text": "UK GHIC"
      },
      {

      "value": "UK-EHIC",
      "text": "New UK EHIC"
      }
      ]
      }) }}

      {% endcall %}

      {{ button({
      "text": "Continue"
      }) }}

    </form>

    {{ backLink({
    "href": "",
    "text": "Change my previous answer"
    }) }}

  </div>
</div>
{% endblock %}