{% extends 'layout.html' %}
{% block pageTitle %}

   Get healthcare cover for travelling abroad

{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}

<style type="text/css">

   p.current {
      float: right; 
      color: black; 
      padding: 10px 0;
      /*font-weight: bold;*/
   }

   .nhsuk-tag--green {
       background-color: #cce5d8;
       border: 1px solid #004c23;
       color: #004c23;
       margin-left: 10px;
   }

   .nhsuk-tag--grey {
       background-color: #dbe0e3;
       border: 1px solid #354550;
       color: #354550;
       margin-left: 10px;
   }

   .nhsuk-details__text {
      width: 66.6%;
   }
   
</style>

<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-full">
      <h1>
         Overseas Healthcare Services
         <!-- <span class="nhsuk-caption-xl nhsuk-caption--bottom">Apply for an EHIC</span> -->
         <span class="nhsuk-caption-xl nhsuk-caption--bottom">Get healthcare cover for travelling abroad</span>
      </h1>
      <h3>Live</h3>
      <p>June 2021 - Present</p>

      <hr>

      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander" open>
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Live (Sprint 43)
               </span>
               <p class="current">CURRENT SPRINT</p>
            </summary>
            <div class="nhsuk-details__text">
               <p>Sprint commencing: 24 March 2022</p>

               <h3>User journeys</h3>
               <ul>
                  <li>Get a GHIC / EHIC</li>
                  <li>Get a replacement GHIC / EHIC</li>
                  <li>Upload evidence in support of application</li>
               </ul>

               <hr>

               <h3>Full online service</h3>

               {{ actionLink({
                  "text": "Get healthcare cover for travelling abroad",
                  "href": "/current/start"
               }) }}

               <hr>

               <h3>Improved 'success' screens (end of application)</h3>

                  <h5>Solo applicants</h5>
                   <ul>
                     <li>
                        <a href="current/apply/application/new-end-pages/solo/app-submitted-uk-ukio">
                           Lives in UK - Non-EU/EEA national
                        </a>
                     </li>
                     <li>
                        <a href="current/apply/application/new-end-pages/solo/app-submitted-uk-eu">
                           Lives in UK - EU/EEA national
                        </a>
                     </li>
                     <li>
                        <a href="current/apply/application/new-end-pages/solo/app-submitted-s1">
                           S1 holder
                        </a>
                     </li>
                     <li>
                        <a href="current/apply/application/new-end-pages/solo/app-submitted-student">
                           Student
                        </a>
                     </li>
                  </ul>

                  <!-- <h5>Applicants with dependants</h5> -->
                   <!-- <ul>
                     <li>
                        <a href="current/apply/application/new-end-pages/dep/app-submitted-uk-ukio">
                           Lives in UK -  UK / Irish / Other / UK dual national (with deps)
                        </a>
                     </li>
                     <li>
                        <a href="current/apply/application/new-end-pages/dep/app-submitted-uk-eu">
                           Lives in UK - EU/EEA national (with deps)
                        </a>
                     </li>
                     <li>
                        <a href="current/apply/application/new-end-pages/dep/app-submitted-s1">
                           S1 holder (with deps)
                        </a>
                     </li>
                  </ul> -->

               <hr>

               <h3>NHS Digital EHIC/GHIC Land Page Round 2</h3>

               {{ actionLink({
                  "text": "Applying for healthcare cover abroad (V1)",
                  "href": "/nhs-landing/nhsd-r2-contents-1/nhsd-r2-1"
               }) }}

               {{ actionLink({
                  "text": "Applying for healthcare cover abroad (V2)",
                  "href": "/nhs-landing/nhsd-r2-contents-2/nhsd-r2-2"
               }) }}

               {{ actionLink({
                  "text": "'Get healthcare abroad' hub (v.1)",
                  "href": "/nhs-landing/get-healthcare-hub/hub-home"
               }) }}

               <hr>

               <h3>Improved nationality capture - round 2</h3>

               <ul>
                  <li>
                     <a href="current/start">Checkbox version -- journey</a>
                     <br>
                     <a href="current/apply/nationality">Checkbox version -- screen</a>
                  </li>
               </ul>

               <hr>

               <h4 class="heading-xs">Other journeys</h4>

               <ul>
                  <li>
                     <a href="current/file-upload/start">File upload</a>
                  </li>
                  <li>
                     <a href="current/start-not-found">Get a replacement (customer not found)</a>
                  </li>
                  <li>
                     <a href="current/start-multiple-records">Get a replacement (multiple records found)</a>
                  </li>
               </ul>

               <hr>

               <h3>What we changed</h3>
               <ul>
                  <li>Designed a more user friendly and informative confirmation screen so customers can see what happeens next after they submit their application</li>
                  <li>Iterated on our designs for the NHS Digital 'Get healthcare cover abroad' landing page and used updated content, including a new concept on a 'Get healthcare abroad' hub page with details of how to apply for a PRC</li>
               </ul>

               <h3>What we plan to test</h3>
               <ul>
                  <li>Do users feel comfortable and confident starting their application from NHSD's landing page?</li>
                  <li>How confident to customers feel after they submit their application? Do they have any queries? Are we providing all the necesary information?</li>
               </ul>

               <h3>What we found</h3>
               <ul>
                  <li>...</li>
               </ul>

               <!-- Assisted digital user
               - (get notes from research slides)-->

               <!-- <hr>
               <a href="/current/breakdown">Page by page breakdown</a> -->
            </div>
         </details>
      </div>

      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander" >
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Live (Sprint 42)
               </span>
            </summary>
            <div class="nhsuk-details__text">
               <p>Sprint commencing: 10 March 2022</p>

               <h3>User journeys</h3>
               <ul>
                  <li>Get a GHIC / EHIC</li>
                  <li>Get a replacement GHIC / EHIC</li>
                  <li>Upload evidence in support of application</li>
               </ul>

               <hr>

               <h3>Full online service</h3>

               {{ actionLink({
                  "text": "Get healthcare cover for travelling abroad",
                  "href": "/sprint-042/start"
               }) }}

               <hr>

               <h3>NHS Digital EHIC/GHIC Land Page Round 2</h3>

               {{ actionLink({
                  "text": "Applying for healthcare cover abroad (V1)",
                  "href": "/nhs-landing/nhsd-r2-contents-1/nhsd-r2-1"
               }) }}

               {{ actionLink({
                  "text": "Applying for healthcare cover abroad (V2)",
                  "href": "/nhs-landing/nhsd-r2-contents-2/nhsd-r2-2"
               }) }}

               {{ actionLink({
                  "text": "Applying for healthcare cover abroad (Contents list, v.2)",
                  "href": "/nhs-landing/contents-hub/overview-home"
               }) }}

               <hr>

               <h3>Improved nationality capture</h3>

               <ul>
                  <li>
                     <a href="sprint-042/start">Checkbox version -- journey</a>
                     <br>
                     <a href="sprint-042/apply/nationality">Checkbox version -- screen</a>
                  </li>
                  <li>
                     <a href="sprint-041-2/start">Radial buttons version -- journey</a>
                     <br>
                     <a href="sprint-041-2/apply/nationality">Radial buttons version -- screen</a>
                  </li>
                  <li>
                     <a href="nationality/start">Typeahead input field version -- journey</a>
                     <br>
                     <a href="nationality/apply/nationality">Typeahead input field version -- screen</a>
                  </li>
               </ul>

               <hr>

               <h4 class="heading-xs">Other journeys</h4>

               <ul>
                  <li>
                     <a href="sprint-042/file-upload/start">File upload</a>
                  </li>
                  <li>
                     <a href="sprint-042/start-not-found">Get a replacement (customer not found)</a>
                  </li>
                  <li>
                     <a href="sprint-042/start-multiple-records">Get a replacement (multiple records found)</a>
                  </li>
               </ul>

               <hr>

               <h3>What we changed</h3>
               <ul>
                  <li>Iterated on our designs for the NHS Digital 'Get healthcare cover abroad' landing page and used updated content - TO DO</li>
                  <li>Updated the application confirmation screens ('end' or 'done' screens) to have more useful content and give a clearer indication to the user what happens next with regards to their application- TO DO</li>
               </ul>

               <h3>What we plan to test</h3>
               <ul>
                  <li>Do users feel comfortable and confident starting their application from NHSD's landing page?</li>
               </ul>

               <h3>What we found</h3>
               <ul>
                  <li>...</li>
               </ul>

               <!-- Assisted digital user
               - (get notes from research slides)-->

               <!-- <hr>
               <a href="/current/breakdown">Page by page breakdown</a> -->
            </div>
         </details>
      </div>

      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Live (Sprint 41)
               </span>
            </summary>
            <div class="nhsuk-details__text">
               <p>Sprint commencing: 27 January 2022</p>

               <h3>User journeys</h3>
               <ul>
                  <li>Get a GHIC / EHIC</li>
                  <li>Get a replacement GHIC / EHIC</li>
                  <li>Upload evidence in support of application</li>
               </ul>

               <hr>

               <h3>Full online service</h3>

               {{ actionLink({
                  "text": "Get healthcare cover for travelling abroad",
                  "href": "/sprint-041/start"
               }) }}

               <hr>

               <h3>NHS Digital EHIC/GHIC Land Page</h3>

               <br>

               <!-- {{ actionLink({
                  "text": "Applying for healthcare cover abroad (NEW-1.0)",
                  "href": "/nhs-landing/landing-version-2"
               }) }} -->

               {{ actionLink({
                  "text": "Applying for healthcare cover abroad (NEW-1.0)",
                  "href": "/nhs-landing/landing-version-2-1"
               }) }}

               <!-- {{ actionLink({
                  "text": "Applying for healthcare cover abroad (NEW-2.0)",
                  "href": "/nhs-landing/landing-version-3"
               }) }} -->

               {{ actionLink({
                  "text": "Applying for healthcare cover abroad (NEW-2.0)",
                  "href": "/nhs-landing/landing-version-3-1"
               }) }}

               {{ actionLink({
                  "text": "Applying for healthcare cover abroad (Contents list)",
                  "href": "/nhs-landing/contents-list/overview"
               }) }}

               {{ actionLink({
                  "text": "Applying for healthcare cover abroad (OLD)",
                  "href": "/nhs-landing/landing-v1"
               }) }}

               <hr>

               <h3>Improved nationality capture</h3>

               <ul>
                  <li>
                     <a href="sprint-041/start">Checkbox version -- journey</a>
                     <br>
                     <a href="sprint-041/apply/nationality">Checkbox version -- screen</a>
                  </li>
                  <li>
                     <a href="sprint-041-2/start">Radial buttons version -- journey</a>
                     <br>
                     <a href="sprint-041-2/apply/nationality">Radial buttons version -- screen</a>
                  </li>
                  <li>
                     <a href="nationality/start">Typeahead input field version -- journey</a>
                     <br>
                     <a href="nationality/apply/nationality">Typeahead input field version -- screen</a>
                  </li>
               </ul>

               <hr>

               <h4 class="heading-xs">Other journeys</h4>

               <ul>
                  <li>
                     <a href="sprint-041/file-upload/start">File upload</a>
                  </li>
                  <li>
                     <a href="sprint-041/start-not-found">Get a replacement (customer not found)</a>
                  </li>
                  <li>
                     <a href="sprint-041/start-multiple-records">Get a replacement (multiple records found)</a>
                  </li>
               </ul>


               <hr>

               <h3>What we changed</h3>
               <ul>
                  <li>Restructured and simplified the way we capture the customer's nationality during eligibility check section (3 versions to test)</li>
               </ul>

               <h3>What we plan to test</h3>
               <ul>
                  <li>Are the new nationality capture screen interations clear?</li>
                  <li>Are users able to complete the eligibility check section of the user journey when applying for a new card?</li>
                  <li>We will test the new screen designs with a mix of UK, EU, dual nationals and other country nationals</li>
               </ul>

               <h3>What we found</h3>
               <ul>
                  <li>...</li>
                  {# <li>REPLACEMENT NOT FOUND - people still want a contact number if the 3 options didnt apply to them</li> #}
                  <!-- multiple records - all userrs confused what info was required to process replacement
                  users didn;t know which number to use. Some would contact EHIC or GHIC dependaing on what card they had, some would contact OHS as the page tells them to.
                  Users prefer email -->
               </ul>

               <!-- Assisted digital user
               - (get notes from research slides)-->

               <!-- <hr>
               <a href="/sprint-041/breakdown">Page by page breakdown</a> -->
            </div>
         </details>
      </div>


      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Live (Sprint 40)
               </span>
            </summary>
            <div class="nhsuk-details__text">
               <p>Sprint commencing: 04 January 2022</p>

               <h3>User journeys</h3>
               <ul>
                  <li>Get a replacement GHIC</li>
                  <li>Upload evidence of right to reside in the UK, UK residency, dual nationality and student studying abroad</li>
               </ul>

               <hr>

               {{ actionLink({
               "text": "Get healthcare cover for travelling abroad",
               "href": "/sprint-040/start"
               }) }}

               {{ actionLink({
               "text": "File upload",
               "href": "sprint-040/file-upload/start"
               }) }}

               {{ actionLink({
               "text": "Get a replacement (customer not found)",
               "href": "sprint-040/start-not-found"
               }) }}

               {{ actionLink({
               "text": "Get a replacement (multiple records found)",
               "href": "sprint-040/start-multiple-records"
               }) }}

               <hr>

               <h3>What we changed</h3>
               <ul>
                  <li>Built two new versions of the EHIC/GHIC dual nationality journey to be tested.</li>
                  <li>Added a nationality page with checkboxes and a select list with add/remove functionality enabling users to add as many nationalities as possible, and another version with radial options.</li>
               </ul>

               <h3>What we plan to test</h3>
               <ul>
                  <li>Are users able to complete the journey to get a replacement card?</li>
                  <li>Is the journey clear and easy to navigate?</li>
                  <li>Testing with dual nationals</li>
                  <li>Testing with students</li>
               </ul>

               <h3>What we found</h3>
               <ul>
                  <!-- <li>the last questions 'Have anymore evvidece is confusing people because they think it refers to student evidence as that is the previous question</li> -->
               </ul>

               <!-- <hr>
               <a href="/current/breakdown">Page by page breakdown</a> -->
            </div>
         </details>
      </div>

      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Live (Sprint 39)
               </span>
            </summary>
            <div class="nhsuk-details__text">
               <p>Sprint commencing: 18 November 2021</p>

               <h3>User journeys</h3>
               <ul>
                  <li>Get a replacement GHIC</li>
                  <li>Upload evidence of right to reside in the UK, UK residency, dual nationality and student studying abroad</li>
               </ul>

               <hr>

               {{ actionLink({
               "text": "Get healthcare cover for travelling abroad",
               "href": "/sprint-039/start"
               }) }}

               {{ actionLink({
               "text": "File upload",
               "href": "sprint-039/file-upload/start"
               }) }}

               {{ actionLink({
               "text": "Get a replacement (customer not found)",
               "href": "sprint-039/start-not-found"
               }) }}

               {{ actionLink({
               "text": "Get a replacement (multiple records found)",
               "href": "sprint-039/start-multiple-records"
               }) }}

               <hr>

               <h3>What we changed</h3>
               <ul>
                  <li>Built a new user journey so that users can self-serve to get a replacement GHIC or EHIC for themselves and their dependants</li>
                  <li>Added dual nationality question</li>
               </ul>

               <h3>What we plan to test</h3>
               <ul>
                  <li>Are users able to complete the journey to get a replacement card?</li>
                  <li>Is the journey clear and easy to navigate?</li>
                  <li>Testing with dual nationals</li>
                  <li>Testing with students</li>
               </ul>

               <h3>What we found</h3>
               <ul>
               </ul>

               <!-- <hr>
               <a href="/current/breakdown">Page by page breakdown</a> -->
            </div>
         </details>
      </div>

      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Live (Sprint 38)
               </span>
            </summary>
            <div class="nhsuk-details__text">
               <p>Sprint commencing: 4 November 2021</p>

               <h3>User journeys</h3>
               <ul>
                  <li>Get a replacement GHIC</li>
                  <li>Upload evidence of right to reside in the UK, UK residency, dual nationality and student studying abroad</li>
               </ul>

               <hr>

               {{ actionLink({
               "text": "Get healthcare cover for travelling abroad",
               "href": "/sprint-038/start"
               }) }}

               {{ actionLink({
               "text": "File upload",
               "href": "sprint-038/file-upload/start"
               }) }}

               {{ actionLink({
               "text": "Get a replacement (customer not found)",
               "href": "sprint-038/start-not-found"
               }) }}

               {{ actionLink({
               "text": "Get a replacement (multiple records found)",
               "href": "sprint-038/start-multiple-records"
               }) }}

               <hr>

               <h3>What we changed</h3>
               <ul>
                  <li>Built a new user journey so that users can self-serve to get a replacement GHIC or EHIC for themselves and their dependants</li>
                  <li>Added dual nationality question</li>
               </ul>

               <h3>What we plan to test</h3>
               <ul>
                  <li>Are users able to complete the journey to get a replacement card?</li>
                  <li>Is the journey clear and easy to navigate?</li>
                  <li>Testing with dual nationals</li>
                  <li>TSesting with students</li>
               </ul>

               <h3>What we found</h3>
               <ul>
                  <!-- <li>the last questions 'Have anymore evvidece is confusing people because they think it refers to student evidence as that is the previous question</li> -->
               </ul>

               <!-- <hr>
               <a href="/current/breakdown">Page by page breakdown</a> -->
            </div>
         </details>
      </div>

      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander" >
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Live (Sprint 37)
               </span>
            </summary>
            <div class="nhsuk-details__text">
               <p>Sprint commencing: 21 October 2021</p>

               <h3>User journeys</h3>
               <ul>
                  <li>Get a replacement GHIC</li>
                  <li>Upload evidence of right to reside in the UK and UK residency</li>
               </ul>

               {{ actionLink({
               "text": "Get healthcare cover for travelling abroad",
               "href": "/sprint-037/start"
               }) }}

               {{ actionLink({
               "text": "File upload",
               "href": "sprint-037/file-upload/start"
               }) }}

               {{ actionLink({
               "text": "Get a replacement (customer not found)",
               "href": "sprint-037/start-not-found"
               }) }}

               {{ actionLink({
               "text": "Get a replacement (multiple records found)",
               "href": "sprint-037/start-multiple-records"
               }) }}

               <hr>

               <h3>What we changed</h3>
               <ul>
                  <li>Built a new user journey so that users can self-serve to get a replacement GHIC or EHIC for themselves and their dependants</li>
                  <li>Added dual nationality question</li>
               </ul>

               <h3>What we plan to test</h3>
               <ul>
                  <li>Are users able to complete the journey to get a replacement card?</li>
                  <li>Is the journey clear and easy to navigate?</li>
                  <li>file upload</li>
                  <li>2 versions of file upload</li>
                  <li>applicant not found scenarios</li>
               </ul>

               <h3>What we found</h3>
               <ul>
                  <li>...</li>
                  <!-- <li>users were going round in loops trying to figure out why their app couldn not be found</li> -->
               </ul>

               <!-- <hr>
               <a href="/current/breakdown">Page by page breakdown</a> -->
            </div>
         </details>
      </div>

      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Live (Sprint 36)
               </span>
            </summary>
            <div class="nhsuk-details__text">
               <p>Sprint commencing: 7 October 2021</p>

               <h3>User journeys</h3>
               <ul>
                  <li>Get a replacement GHIC</li>
                  <li>Upload evidence of right to reside in the UK and UK residency</li>
               </ul>

               {{ actionLink({
               "text": "Get healthcare cover for travelling abroad",
               "href": "/sprint-036/start"
               }) }}

               {{ actionLink({
               "text": "File upload",
               "href": "sprint-036/file-upload/start"
               }) }}

               {{ actionLink({
               "text": "Get a replacement (customer not found)",
               "href": "sprint-036/start-not-found"
               }) }}

               <hr>

               <h3>What we changed</h3>
               <ul>
                  <li>Built a new user journey so that users can self-serve to get a replacement GHIC or EHIC for themselves and their dependants</li>
                  <li>Redersigned the file upload screen to make file upload more prominent</li>
               </ul>

               <h3>What we plan to test</h3>
               <ul>
                  <li>Are users able to complete the journey to get a replacement card?</li>
                  <li>Is the journey clear and easy to navigate?</li>
                  <li>tesetd with EU national living in UK</li>

                  <!-- See screeengrab from UR review -->

               </ul>

               <h3>What we found</h3>
               <ul>
                  <li>Users missing useful link below start now </li>
                  <!-- -some missed change prev answer
                  -all complete with issues, easy and straightforward
                  -terminolgy easy to understand
                  -when asked for share code, peeps mentioned they had pre settled but this is not referenced
                  -users usnteand where to get share code, getting this was inconvientce and or time consuming and would refer documents
                  -thought share code proves right to reside AND residency
                  -didn;t understand difference between right to reside and residency questions (questions are worded too similarly)
                  - some assumed nino was proof
                  -expected multiple evidence at once
                  -students and young people, struggle to provide docs
                  - -->
                  <li>Customers want to see timescales</li>
               </ul>

               <!-- <hr>
               <a href="/sprint-036/breakdown">Page by page breakdown</a> -->
            </div>
         </details>
      </div>

      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander" >
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Live (Sprint 35)
               </span>
            </summary>
            <div class="nhsuk-details__text">
               <p>Sprint commencing: 23 September 2021</p>

               <h3>User journeys</h3>
               <ul>
                  <li>Get a replacement GHIC</li>
                  <li>Upload evidence of right to reside in the UK and UK residency</li>
               </ul>

               {{ actionLink({
               "text": "Get healthcare cover for travelling abroad",
               "href": "/sprint35/start"
               }) }}

               {{ actionLink({
               "text": "File upload",
               "href": "sprint-035/file-upload/start"
               }) }}

               <hr>

               <h3>What we changed</h3>
               <ul>
                  <li>Built a new user journey so that users can self-serve to get a replacement GHIC or EHIC for themselves and their dependants</li>
               </ul>

               <h3>What we plan to test</h3>
               <ul>
                  <li>Are users able to complete the journey to get a replacement card?</li>
                  <li>Is the journey clear and easy to navigate?</li>
               </ul>

               <h3>What we found</h3>
               <ul>
                  <li>Content still confusing</li>
                  <li>People are missing the file upload button</li>
                  <li>Has anything changed? screen. People don't know! They don't know when the applied, how long was left on their card etc</li>
                  <li>People want timescales</li>

               </ul>

               <!-- <hr>
               <a href="/sprint-035/breakdown">Page by page breakdown</a> -->
            </div>
         </details>
      </div>

      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Live (Sprint 34)
               </span>
            </summary>
            <div class="nhsuk-details__text">
               <p>Sprint commencing: 9 September 2021</p>

               <h3>User journeys</h3>
               <ul>
                  <li>Get a replacement GHIC</li>
                  <li>Upload evidence of right to reside and UK residency</li>
               </ul>

               {{ actionLink({
               "text": "Get healthcare cover for travelling abroad",
               "href": "/sprint-034/start"
               }) }}

               {{ actionLink({
               "text": "File upload",
               "href": "sprint-034/file-upload/start"
               }) }}

               <hr>

               <h3>What we changed</h3>
               <ul>
                  <li>Built a new user journey so that users can self-serve to get a replacement GHIC or EHIC for themselves and their dependants</li>
               </ul>

               <h3>What we plan to test</h3>
               <ul>
                  <li>Are users able to complete the journey to get a replacement card?</li>
                  <li>Is the journey clear and easy to navigate?</li>
               </ul>

               <h3>What we found</h3>
               <ul>
                  <li>...</li>
               </ul>

               <!-- <hr>
               <a href="/sprint-034/breakdown">Page by page breakdown</a> -->
            </div>
         </details>
      </div>

      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Live (Sprints 32, 33)
               </span>

            </summary>
            <div class="nhsuk-details__text">
               <p>Sprint commencing: 12 August 2021</p>

               <h3>User journeys</h3>
               <ul>
                  <li>Get a replacement GHIC</li>
               </ul>

               {{ actionLink({
               "text": "Get healthcare cover for travelling abroad",
               "href": "/sprint-033/start"
               }) }}

               <hr>

               <h3>What we changed</h3>
               <ul>
                  <li>Built a new user journey so that users can self-serve to get a replacement GHIC or EHIC for themselves and their dependants</li>
               </ul>

               <h3>What we plan to test</h3>
               <ul>
                  <li>Are users able to complete the journey to get a replacement card?</li>
                  <li>Is the journey clear and easy to navigate?</li>
               </ul>

               <h3>What we found</h3>
               <ul>
                  <!-- <li>Some users were confused</li>
                  <li>didn't know if they applied themselves or not</li>
                  <li>replace another confusing, like a confirmation of self</li>
                  <li>no timesscales is frustrating</li>
                  <li>thought they could change their details in the app, frustrating when they could not</li> -->
               </ul>

               <!-- <hr>
               <a href="/sprint-033/breakdown">Page by page breakdown</a> -->
            </div>
         </details>
      </div>

   </div>
</div>
{% endblock %}